.post-card {
  text-decoration: none;
  color: var(--font-color);
  &__date {
    font-size: 0.9rem;
  }
  &__title {
    font-size: 1.6rem;
    margin: 1rem 0rem 0.8rem;
    letter-spacing: 0.1rem;
  }
  &__summary {
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
}
