// Global variables
html {
    font-size: 16px;
}

@font-face {
    font-family: 'Pixelated';
    src: url('fonts/DotGothic16-Regular.ttf')  format('truetype');
}

body {
    font-family: 'Pixelated';
}

// Theme colours
body.theme-light {
    --color-background: #ffffff;
    --color-primary: #f4f2f0;
    --color-secondary: #f4f2f0;
    --color-accent: #f4f2f0;
    --font-color: #000000;
}

body.theme-dark {
    --color-background: #000000;
    --color-primary: #292928;
    --color-secondary: #292928;
    --color-accent: #292928;
    --font-color: #ffffff;
}

body {
    background: var(--color-background);
    color: var(--font-color);
}

// Variables

// Breakpoints
$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);

// Mixins
// @include respond-above(sm) {}
@mixin respond-above($breakpoint) {
    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);
        // Write the media query.
        @media (min-width: $breakpoint-value) {
            @content;
        }
        // If the breakpoint doesn't exist in the map.
    } @else {
        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

// Reusable layouts

// Actual content/components reside on
.content-wrapper {
    margin: 0rem 0.8rem;
    @include respond-above('md') {
        max-width: 640px;
        margin: auto;
    }
}

// fonts
h5 {
    margin: 0rem;
}
